<!DOCTYPE html>
<html>
<head>
  <title>DragonHoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if @current_user.nil? %>
<a href='<%= destroy_user_session_path %>' method="DELETE">sign out </a>
<% end %>

<%= yield %>

</body>
</html>
