<h1>Editing transaction</h1>

<%= render 'form', :url => account_transaction_path(@account, @transaction) %>

<%= link_to 'Show', account_transaction_path(@account, @transaction) %> |
<%= link_to 'Back', account_transactions_path(@account) %>
