<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Payee</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Cleared</th>
    <th>Date cleared</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.payee %></td>
    <td><%= transaction.date %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.cleared %></td>
    <td><%= transaction.date_cleared %></td>
    <td><%= link_to 'Show', account_transaction_path(transaction.account_id, transaction.id) %></td>
    <td><%= link_to 'Edit', edit_account_transaction_path(transaction.account_id, transaction.id) %></td>
    <td><%= link_to 'Destroy', account_transaction_path(transaction.account_id, transaction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_account_transaction_path(@account.id) %>
