<p id="notice"><%= notice %></p>

<p>
  <b>Payee:</b>
  <%= @transaction.payee %>
</p>

<p>
  <b>Date:</b>
  <%= @transaction.date %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>Cleared:</b>
  <%= @transaction.cleared %>
</p>

<p>
  <b>Date cleared:</b>
  <%= @transaction.date_cleared %>
</p>


<%= link_to 'Edit', edit_account_transaction_path(@transaction.account_id, @transaction.id) %> |
<%= link_to 'Back', account_transactions_path(@account) %>
